.aws-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 20px;
    width: 100%;
  .header-box {
    background-color: #ffffff;
    padding: 20px 20px 10px;
    border-radius: 8px;
    width: 100%;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }

    .underline {
      margin-top: 10px;
      border-bottom: 2px solid #e2e8f0; // light grey border
    }
  }
}


.aws-container {

  
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

  
      .left-panel {
        display: flex;
        gap: 1rem;
  
        .service-button {
          button {
            padding: 0.6rem 1.2rem;
            background-color: #fff;
            border: 2px solid #0073e6;
            color: #0073e6;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s;
  
            &:disabled{
              opacity: .5;
              cursor: not-allowed;
              background-color: #fff;
            }

            &.active,
            &:hover {
              background-color: #0073e6;
              color: #fff;
            }
            
            &:active{
              background-color: #0073e6;
              color: #fff;
            }

          }
        }
      }
  
      .right-panel {
        .account-dropdown {
          padding: 0.6rem 1rem;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: #fff;
          font-size: 1rem;
        }
      }
    }
  
  }
  