.user-management-container {
  padding: 20px;
  width: 100%;

  .user-management-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .header-box {
      background-color: #ffffff;
      padding: 20px 20px 10px;
      border-radius: 8px;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
      }

      .underline {
        margin-top: 10px;
        border-bottom: 2px solid #e2e8f0;
      }
    }

    .actions {
      margin: 20px 0 10px;

      .add-user-btn {
        text-decoration: none;
        background-color: #3b82f6;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s;

        &:hover {
          background-color: #2563eb;
        }
      }
    }

    .user-table {
      background-color: #ffffff;
      border-radius: 8px;
      padding: 20px;

      table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          text-align: left;
          padding: 12px;
          border-bottom: 1px solid #e2e8f0;
        }

        th {
          background-color: #f8fafc;
          font-weight: 600;
          color: #334155;
        }

        tr:hover {
          background-color: #f1f5f9;
        }

        .btns-td {
          display: flex;
          gap: 5px;
          .btns {
            width: 40px;
            padding: 6px 12px 6px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          a {
            text-decoration: none;
            color: #007bff;
          }

          #delete-btn {
            color: red;
            background-color: transparent;
          }
        }
      }
    }

    .pagination-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      button {
        padding: 6px 12px;
        margin: 0 10px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }

      span {
        font-weight: bold;
      }
    }
  }
}
